*{
    padding:  0 auto;
    margin: 0 auto;
}
h1{
    
    background-color:purple;
}
nav{
    display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
           
            display: flex;
            list-style-type: none;

        }
        li{
            padding: 15px;
            color: aqua;
        }
}